In [93]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
import chainer
from chainer import training, Chain
from chainer.training import extensions
from chainer import links as L
from chainer import functions as F
from chainer.datasets import TupleDataset
from chainer import serializers

from chainer.functions.loss.mean_squared_error import mean_squared_error

from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.externals import joblib

In [113]:
df_dev = pd.read_csv('test.csv')

In [114]:
df_test = df_dev[['Pclass','Name','Sex','Age','SibSp','Parch','Fare','Embarked']]

In [116]:
def name_classifier(name_df):    
    name_class_df = pd.DataFrame(columns={'miss','mrs','master','mr'})
    
    for name in name_df:        
        if 'Miss' in name:
            df = pd.DataFrame([[1,0,0,0]],columns={'miss','mrs','master','mr'})
        elif 'Mrs' in name:
            df = pd.DataFrame([[0,1,0,0]],columns={'miss','mrs','master','mr'})
        elif 'Master' in name:
            df = pd.DataFrame([[0,0,1,0]],columns={'miss','mrs','master','mr'})
        elif 'Mr' in name:
            df = pd.DataFrame([[0,0,0,1]],columns={'miss','mrs','master','mr'})
        else :
            df = pd.DataFrame([[0,0,0,0]],columns={'miss','mrs','master','mr'})
        name_class_df = name_class_df.append(df,ignore_index=True)        
    return name_class_df

In [117]:
df_name = df_test['Name']
df_name_class = name_classifier(df_name)

In [118]:
df_test = pd.concat([df_test,df_name_class],axis =1)
df_test = df_test.drop('Name',axis = 1)
df_test['Age'] = df_test['Age'].fillna(df_test['Age'].mean())
df_test['Fare'] = df_test['Fare'].fillna(df_test['Fare'].mean())

In [119]:
for field in ['Sex','Embarked']:
    df_dummy = pd.get_dummies(df_test[field],prefix = field)
    df_test = pd.concat([df_test,df_dummy],axis  = 1)
    df_test = df_test.drop(field,axis = 1)

In [120]:
df_test.to_pickle('test.pkl')

In [101]:
df_test.isnull().sum()

Pclass        0
Age           0
SibSp         0
Parch         0
Fare          0
Sex_female    0
Sex_male      0
Embarked_C    0
Embarked_Q    0
Embarked_S    0
miss          0
mrs           0
master        0
mr            0
dtype: int64

In [122]:
X = df_test.as_matrix().astype(np.float32)

In [121]:
df_test

,Pclass,Age,SibSp,Parch,Fare,miss,mrs,master,mr,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S
0,3,34.50000,0,0,7.8292,0.0,0.0,0.0,1.0,0,1,0,1,0
1,3,47.00000,1,0,7.0000,0.0,1.0,0.0,0.0,1,0,0,0,1
2,2,62.00000,0,0,9.6875,0.0,0.0,0.0,1.0,0,1,0,1,0
3,3,27.00000,0,0,8.6625,0.0,0.0,0.0,1.0,0,1,0,0,1
4,3,22.00000,1,1,12.2875,0.0,1.0,0.0,0.0,1,0,0,0,1
5,3,14.00000,0,0,9.2250,0.0,0.0,0.0,1.0,0,1,0,0,1
6,3,30.00000,0,0,7.6292,1.0,0.0,0.0,0.0,1,0,0,1,0
7,2,26.00000,1,1,29.0000,0.0,0.0,0.0,1.0,0,1,0,0,1
8,3,18.00000,0,0,7.2292,0.0,1.0,0.0,0.0,1,0,1,0,0
9,3,21.00000,2,0,24.1500,0.0,0.0,0.0,1.0,0,1,0,0,1
10,3,30.27259,0,0,7.8958,0.0,0.0,0.0,1.0,0,1,0,0,1
11,1,46.00000,0,0,26.0000,0.0,0.0,0.0,1.0,0,1,0,0,1
12,1,23.00000,1,0,82.2667,0.0,1.0,0.0,0.0,1,0,0,0,1
13,2,63.00000,1,0,26.0000,0.0,0.0,0.0,1.0,0,1,0,0,1
14,1,47.00000,1,0,61.1750,0.0,1.0,0.0,0.0,1,0,0,0,1
15,2,24.00000,1,0,27.7208,0.0,1.0,0.0,0.0,1,0,1,0,0
16,2,35.00000,0,0,12.3500,0.0,0.0,0.0,1.0,0,1,0,1,0
17,3,21.00000,0,0,7.2250,0.0,0.0,0.0,1.0,0,1,1,0,0
18,3,27.00000,1,0,7.9250,1.0,0.0,0.0,0.0,1,0,0,0,1
19,3,45.00000,0,0,7.2250,0.0,1.0,0.0,0.0,1,0,1,0,0
20,1,55.00000,1,0,59.4000,0.0,0.0,0.0,1.0,0,1,1,0,0
21,3,9.00000,0,1,3.1708,0.0,0.0,1.0,0.0,0,1,0,0,1
22,1,30.27259,0,0,31.6833,0.0,1.0,0.0,0.0,1,0,0,0,1
23,1,21.00000,0,1,61.3792,0.0,0.0,0.0,1.0,0,1,1,0,0
24,1,48.00000,1,3,262.3750,0.0,1.0,0.0,0.0,1,0,1,0,0
25,3,50.00000,1,0,14.5000,0.0,0.0,0.0,1.0,0,1,0,0,1
26,1,22.00000,0,1,61.9792,1.0,0.0,0.0,0.0,1,0,1,0,0
27,3,22.50000,0,0,7.2250,0.0,0.0,0.0,1.0,0,1,1,0,0
28,1,41.00000,0,0,30.5000,0.0,0.0,0.0,1.0,0,1,0,0,1
29,3,30.27259,2,0,21.6792,0.0,0.0,0.0,1.0,0,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
388,3,21.00000,0,0,7.7500,0.0,0.0,0.0,1.0,0,1,0,1,0
389,3,6.00000,3,1,21.0750,0.0,0.0,1.0,0.0,0,1,0,0,1
390,1,23.00000,0,0,93.5000,0.0,0.0,0.0,1.0,0,1,0,0,1
391,1,51.00000,0,1,39.4000,0.0,1.0,0.0,0.0,1,0,0,0,1
392,3,13.00000,0,2,20.2500,0.0,0.0,1.0,0.0,0,1,0,0,1
393,2,47.00000,0,0,10.5000,0.0,0.0,0.0,1.0,0,1,0,0,1
394,3,29.00000,3,1,22.0250,0.0,0.0,0.0,1.0,0,1,0,0,1
395,1,18.00000,1,0,60.0000,0.0,1.0,0.0,0.0,1,0,0,0,1
396,3,24.00000,0,0,7.2500,0.0,0.0,0.0,1.0,0,1,0,1,0
397,1,48.00000,1,1,79.2000,0.0,1.0,0.0,0.0,1,0,1,0,0
398,3,22.00000,0,0,7.7750,0.0,0.0,0.0,1.0,0,1,0,0,1
399,3,31.00000,0,0,7.7333,0.0,0.0,0.0,1.0,0,1,0,1,0
400,1,30.00000,0,0,164.8667,1.0,0.0,0.0,0.0,1,0,0,0,1
401,2,38.00000,1,0,21.0000,0.0,0.0,0.0,1.0,0,1,0,0,1
402,1,22.00000,0,1,59.4000,1.0,0.0,0.0,0.0,1,0,1,0,0
403,1,17.00000,0,0,47.1000,0.0,0.0,0.0,1.0,0,1,0,0,1
404,1,43.00000,1,0,27.7208,0.0,0.0,0.0,1.0,0,1,1,0,0
405,2,20.00000,0,0,13.8625,0.0,0.0,0.0,1.0,0,1,1,0,0
406,2,23.00000,1,0,10.5000,0.0,0.0,0.0,1.0,0,1,0,0,1
407,1,50.00000,1,1,211.5000,0.0,0.0,0.0,1.0,0,1,1,0,0
408,3,30.27259,0,0,7.7208,1.0,0.0,0.0,0.0,1,0,0,1,0
409,3,3.00000,1,1,13.7750,1.0,0.0,0.0,0.0,1,0,0,0,1
410,3,30.27259,0,0,7.7500,1.0,0.0,0.0,0.0,1,0,0,1,0
411,1,37.00000,1,0,90.0000,0.0,1.0,0.0,0.0,1,0,0,1,0
412,3,28.00000,0,0,7.7750,1.0,0.0,0.0,0.0,1,0,0,0,1
413,3,30.27259,0,0,8.0500,0.0,0.0,0.0,1.0,0,1,0,0,1
414,1,39.00000,0,0,108.9000,0.0,0.0,0.0,0.0,1,0,1,0,0
415,3,38.50000,0,0,7.2500,0.0,0.0,0.0,1.0,0,1,0,0,1
416,3,30.27259,0,0,8.0500,0.0,0.0,0.0,1.0,0,1,0,0,1
417,3,30.27259,1,1,22.3583,0.0,0.0,1.0,0.0,0,1,1,0,0

In [123]:
class MyChain(Chain):
    def __init__(self):
        super(MyChain,self).__init__(
            l1 = L.Linear(None, 10),
            l2 = L.Linear(None, 6),
            l3 = L.Linear(None,2),
            bn1 = L.BatchNormalization(size = 14),
            bn2 = L.BatchNormalization(size = 10),
            bn3 = L.BatchNormalization(size = 6)
        )
        
    def __call__(self, x, train = True):
        h = F.dropout(self.bn1(x),ratio = 0.2, train=train)
        h = F.dropout(F.relu(self.bn2(self.l1(x))), train = train)
        h = F.dropout(F.relu(self.bn3(self.l2(h))), train = train)
        y = self.l3(h)
        
        return y

In [124]:
df_pred = pd.DataFrame(index=df_test.index, columns=[])

In [125]:
n_fold = 10

In [126]:
for i in range(n_fold):
    model = L.Classifier(MyChain())
    serializers.load_npz('model/model_'+str(i)+'.npz',model)
    pred = F.softmax(model.predictor(X,train=False)).data[:,1]
    df_pred['pred'+str(i)]=pred

In [127]:
df_test['prob'] = df_pred.mean(1)

In [128]:
df_test

,Pclass,Age,SibSp,Parch,Fare,miss,mrs,master,mr,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S,prob
0,3,34.50000,0,0,7.8292,0.0,0.0,0.0,1.0,0,1,0,1,0,0.107192
1,3,47.00000,1,0,7.0000,0.0,1.0,0.0,0.0,1,0,0,0,1,0.333957
2,2,62.00000,0,0,9.6875,0.0,0.0,0.0,1.0,0,1,0,1,0,0.110495
3,3,27.00000,0,0,8.6625,0.0,0.0,0.0,1.0,0,1,0,0,1,0.132951
4,3,22.00000,1,1,12.2875,0.0,1.0,0.0,0.0,1,0,0,0,1,0.434639
5,3,14.00000,0,0,9.2250,0.0,0.0,0.0,1.0,0,1,0,0,1,0.146014
6,3,30.00000,0,0,7.6292,1.0,0.0,0.0,0.0,1,0,0,1,0,0.589391
7,2,26.00000,1,1,29.0000,0.0,0.0,0.0,1.0,0,1,0,0,1,0.129442
8,3,18.00000,0,0,7.2292,0.0,1.0,0.0,0.0,1,0,1,0,0,0.840594
9,3,21.00000,2,0,24.1500,0.0,0.0,0.0,1.0,0,1,0,0,1,0.104608
10,3,30.27259,0,0,7.8958,0.0,0.0,0.0,1.0,0,1,0,0,1,0.128824
11,1,46.00000,0,0,26.0000,0.0,0.0,0.0,1.0,0,1,0,0,1,0.225286
12,1,23.00000,1,0,82.2667,0.0,1.0,0.0,0.0,1,0,0,0,1,0.992828
13,2,63.00000,1,0,26.0000,0.0,0.0,0.0,1.0,0,1,0,0,1,0.122712
14,1,47.00000,1,0,61.1750,0.0,1.0,0.0,0.0,1,0,0,0,1,0.978612
15,2,24.00000,1,0,27.7208,0.0,1.0,0.0,0.0,1,0,1,0,0,0.960029
16,2,35.00000,0,0,12.3500,0.0,0.0,0.0,1.0,0,1,0,1,0,0.133673
17,3,21.00000,0,0,7.2250,0.0,0.0,0.0,1.0,0,1,1,0,0,0.164477
18,3,27.00000,1,0,7.9250,1.0,0.0,0.0,0.0,1,0,0,0,1,0.288713
19,3,45.00000,0,0,7.2250,0.0,1.0,0.0,0.0,1,0,1,0,0,0.486872
20,1,55.00000,1,0,59.4000,0.0,0.0,0.0,1.0,0,1,1,0,0,0.286532
21,3,9.00000,0,1,3.1708,0.0,0.0,1.0,0.0,0,1,0,0,1,0.922025
22,1,30.27259,0,0,31.6833,0.0,1.0,0.0,0.0,1,0,0,0,1,0.997559
23,1,21.00000,0,1,61.3792,0.0,0.0,0.0,1.0,0,1,1,0,0,0.422726
24,1,48.00000,1,3,262.3750,0.0,1.0,0.0,0.0,1,0,1,0,0,0.944927
25,3,50.00000,1,0,14.5000,0.0,0.0,0.0,1.0,0,1,0,0,1,0.096842
26,1,22.00000,0,1,61.9792,1.0,0.0,0.0,0.0,1,0,1,0,0,0.995483
27,3,22.50000,0,0,7.2250,0.0,0.0,0.0,1.0,0,1,1,0,0,0.162443
28,1,41.00000,0,0,30.5000,0.0,0.0,0.0,1.0,0,1,0,0,1,0.281185
29,3,30.27259,2,0,21.6792,0.0,0.0,0.0,1.0,0,1,1,0,0,0.114088
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
388,3,21.00000,0,0,7.7500,0.0,0.0,0.0,1.0,0,1,0,1,0,0.116411
389,3,6.00000,3,1,21.0750,0.0,0.0,1.0,0.0,0,1,0,0,1,0.171768
390,1,23.00000,0,0,93.5000,0.0,0.0,0.0,1.0,0,1,0,0,1,0.341196
391,1,51.00000,0,1,39.4000,0.0,1.0,0.0,0.0,1,0,0,0,1,0.987016
392,3,13.00000,0,2,20.2500,0.0,0.0,1.0,0.0,0,1,0,0,1,0.861658
393,2,47.00000,0,0,10.5000,0.0,0.0,0.0,1.0,0,1,0,0,1,0.141616
394,3,29.00000,3,1,22.0250,0.0,0.0,0.0,1.0,0,1,0,0,1,0.061657
395,1,18.00000,1,0,60.0000,0.0,1.0,0.0,0.0,1,0,0,0,1,0.996071
396,3,24.00000,0,0,7.2500,0.0,0.0,0.0,1.0,0,1,0,1,0,0.113566
397,1,48.00000,1,1,79.2000,0.0,1.0,0.0,0.0,1,0,1,0,0,0.980064
398,3,22.00000,0,0,7.7750,0.0,0.0,0.0,1.0,0,1,0,0,1,0.135926
399,3,31.00000,0,0,7.7333,0.0,0.0,0.0,1.0,0,1,0,1,0,0.109399
400,1,30.00000,0,0,164.8667,1.0,0.0,0.0,0.0,1,0,0,0,1,0.980522
401,2,38.00000,1,0,21.0000,0.0,0.0,0.0,1.0,0,1,0,0,1,0.134634
402,1,22.00000,0,1,59.4000,1.0,0.0,0.0,0.0,1,0,1,0,0,0.995654
403,1,17.00000,0,0,47.1000,0.0,0.0,0.0,1.0,0,1,0,0,1,0.399069
404,1,43.00000,1,0,27.7208,0.0,0.0,0.0,1.0,0,1,1,0,0,0.235915
405,2,20.00000,0,0,13.8625,0.0,0.0,0.0,1.0,0,1,1,0,0,0.212579
406,2,23.00000,1,0,10.5000,0.0,0.0,0.0,1.0,0,1,0,0,1,0.129987
407,1,50.00000,1,1,211.5000,0.0,0.0,0.0,1.0,0,1,1,0,0,0.337854
408,3,30.27259,0,0,7.7208,1.0,0.0,0.0,0.0,1,0,0,1,0,0.587658
409,3,3.00000,1,1,13.7750,1.0,0.0,0.0,0.0,1,0,0,0,1,0.494515
410,3,30.27259,0,0,7.7500,1.0,0.0,0.0,0.0,1,0,0,1,0,0.587644
411,1,37.00000,1,0,90.0000,0.0,1.0,0.0,0.0,1,0,0,1,0,0.994342
412,3,28.00000,0,0,7.7750,1.0,0.0,0.0,0.0,1,0,0,0,1,0.360363
413,3,30.27259,0,0,8.0500,0.0,0.0,0.0,1.0,0,1,0,0,1,0.129076
414,1,39.00000,0,0,108.9000,0.0,0.0,0.0,0.0,1,0,1,0,0,0.975349
415,3,38.50000,0,0,7.2500,0.0,0.0,0.0,1.0,0,1,0,0,1,0.121018
416,3,30.27259,0,0,8.0500,0.0,0.0,0.0,1.0,0,1,0,0,1,0.129076
417,3,30.27259,1,1,22.3583,0.0,0.0,1.0,0.0,0,1,1,0,0,0.676976

In [129]:
X = df_test.as_matrix().astype(np.float32)

In [130]:
clf = joblib.load('model/Stage01/LogisticRegression.pkl')

In [131]:
y_pred = clf.predict(X)

In [132]:
y_pred

array([0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1,
       1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0,
       1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0,
       1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1,
       0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1,
       1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0,
       1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1,
       0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0,
       1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1,
       1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1,
       1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0,
       1, 0, 0, 1], dtype=int32)

In [133]:
df_prob = df_dev[['PassengerId']]

In [134]:
df_prob['Survived']=y_pred

/usr/local/lib/python2.7/dist-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [135]:
df_prob.to_csv('submit/ensemble.csv',index=False)

In [137]:
df_prob

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         1
5            897         0
6            898         1
7            899         0
8            900         1
9            901         0
10           902         0
11           903         0
12           904         1
13           905         0
14           906         1
15           907         1
16           908         0
17           909         0
18           910         0
19           911         1
20           912         0
21           913         1
22           914         1
23           915         1
24           916         1
25           917         0
26           918         1
27           919         0
28           920         0
29           921         0
..           ...       ...
388         1280         0
389         1281         0
390         1282         1
391         1283         1
392         1284         1
393         1285         0
394         1286         0
395         1287         1
396         1288         0
397         1289         1
398         1290         0
399         1291         0
400         1292         1
401         1293         0
402         1294         1
403         1295         1
404         1296         0
405         1297         0
406         1298         0
407         1299         0
408         1300         1
409         1301         1
410         1302         1
411         1303         1
412         1304         1
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         1

[418 rows x 2 columns]