In [25]:
import pandas as pd

In [26]:
df = pd.DataFrame(['A','B','C',None],columns=['alpha'])

In [27]:
df

  alpha
0     A
1     B
2     C
3  None

In [28]:
df['next']=df['alpha'].map({'B':1,'C':1},).fillna(0).astype(int)

In [29]:
df

  alpha  next
0     A     0
1     B     1
2     C     1
3  None     0